.App {
  font-family: sans-serif;
}

.comment-card {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.button-group {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
button {
  cursor: pointer;
}
